.searchRes {
  display: grid;
  justify-content: center;
  /* background: greenyellow; */
  grid-template-columns: repeat(auto-fit, 230px);
  position: relative;
}

.searchedImg {
  margin: 15px;

  height: 300px;
  border-radius: 20px;

  overflow: hidden;
  transition: 0.5s ease;
  box-shadow: 10px 0px 25px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 10px 0px 25px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 0px 25px 0px rgba(0, 0, 0, 0.5);
}

.searchedImg img {
  height: inherit;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  cursor: pointer;
}

.searchedImg:hover {
  transform: scale(0.9);
}
.homeBtn {
  position: fixed;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 5;
}
.nothing {
  position: absolute;
  margin: 50px;
  font-weight: 400;
}

@media screen and (max-width: 576px) {
  .searchRes {
    grid-template-columns: repeat(auto-fit, 120px);
  }
  .searchedImg {
    height: 180px;
    border-radius: 10px;
    margin: 5px;
  }
  .searchedImg img {
    border-radius: 10px;
  }
}
